.weather {
  background: #fff;
  height: calc(100% - 10rem);
  width: calc(100% - 10rem);
  max-width: calc(100% - 10rem);
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  padding: 2.5rem;
  border-radius: 0.625rem;

  overflow-y: auto;
}

.weather .location {
  display: flex;
}

.weather .location > div:first-child {
  margin: 0.25rem;
}

.weather .location input {
  font-size: 1rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  padding: 0.25rem 0.625rem;
  color: #222222;
}
.weather .location input:focus {
  border-color: #454f79;
  border: 0.0625rem solid #454f79;
}
.weather .location .btn {
  margin-top: 0.0625rem;
  margin-left: 0.3125rem;
  padding: 0.1875rem 0.875rem;
  background-color: #eee;
  border-radius: 0.3125rem;
  color: #222222;
  cursor: pointer;
}
.weather .location .btn:hover {
  background-color: #e0e0e0;
}

.weather .charts {
  display: flex;
}

.weather .charts > div {
  margin: 1.25rem;
}

.errorMsg {
  background: #e5b4bb;
  color: #fff;
  padding: 0.625rem;
  margin: 30px 0;
  border-radius: 0.625rem;
  font-weight: 700;
}
